{% extends 'base.html' %}
{% load static %}
{% block extCSS %}

    <link rel="stylesheet" href="{% static 'css/base.css' %}">

{% endblock %}

{% block header %}

    <header></header>

{% endblock %}

{% block footer %}

    <footer>

        <a href="{% url 'axf:home' %}" class="home">

            <dl>

                <dt>
                    <span></span>
                </dt>
                <dd>首页</dd>

            </dl>

        </a>
{#        点击闪购出现闪购页面,这个url专门用来访问具体闪购页面的，跳转页面时利用reverse为其传入参数#}
        <a href="{% url 'axf:flash_buy' %}" class="market">

            <dl>

                <dt>
                    <span></span>
                </dt>
                <dd>闪购</dd>

            </dl>

        </a>
        <a href="{% url 'axf:cart' %} }" class="cart">

            <dl>

                <dt>
                    <span></span>
                </dt>
                <dd>购物车</dd>

            </dl>

        </a>
        <a href="{% url 'axf:mine' %}" class="mine">

            <dl>

                <dt>
                    <span></span>
                </dt>
                <dd>我的</dd>

            </dl>

        </a>

    </footer>

{% endblock %}